@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap");
@import "./colors.scss";

body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: $very-light-gray;

  .orange {
    background-color: $bright-orange;
    button {
      &:hover {
        color: $bright-orange !important;
      }
    }
  }

  .cyan {
    background-color: $dark-cyan;
    button {
      &:hover {
        color: $dark-cyan !important;
      }
    }
  }

  .dark-cyan {
    background-color: $very-dark-cyan;
    button {
      &:hover {
        color: $very-dark-cyan !important;
      }
    }
  }

  .columns-container {
    .column:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .column:last-of-type {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .column {
      padding: 60px;
      height: 350px;
      text-align: left;
      img {
        height: 30px;
        object-fit: contain;
      }
      h3 {
        font-family: "Big Shoulders Display", cursive;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 20px;
      }
      .content {
        font-family: "Lexend Deca", sans-serif;
        margin-bottom: 70px;
        line-height: 1.5;
      }

      button {
        font-family: "Lexend Deca", sans-serif;
        color: $transparent-white;
        background-color: transparent;
        border: 1px solid $transparent-white;
        border-radius: 30px;
        padding: 10px 20px;
        &:hover {
          transition: all 200ms ease-in-out;
          cursor: pointer;
          background-color: $transparent-white;
        }
      }
    }

    @media (min-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 95vh;
      max-width: 800px;
      margin: auto;
    }

    @media (min-width: 1290px) {
      max-width: 900px;
    }

    @media (max-width: 991px) {
      padding: 20px;
      .column:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: unset;
      }

      .column:last-of-type {
        border-top-right-radius: unset;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }

  .attribution {
    text-align: left;
    background-color: $very-dark-cyan;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0.6rem 0;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    a {
      color: $transparent-white;
      text-decoration: underline;
      &:visited {
        color: $transparent-white;
      }
    }
  }
}
